################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/practica_flask/.idea
/practica_flask/.vscode
